{
    "presets": [
        "@babel/preset-env",
        [
            // To remove "Uncaught ReferenceError: React is not defined" error
            "@babel/preset-react",
            { "runtime": "automatic" }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
